
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nav</title>
  <link rel="stylesheet" href="style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

<header class="header" style="position:sticky;">
  <img src="{{asset('images/logo.jpg')}}" width="80rem" class="logo"></img>
<input type="checkbox" id="check">
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon"></i>
    <i class="bx bx-x"></i>
  </label>

  <nav class="navbar">
    <a href="{{ path('main')}}" style="--i:0">Accueil</a>
    <a href="{{ path('eshop')}}" style="--i:3">La boutique</a>
    <a href="{{ path('app_register')}}" style="--i:4">Créer un compte</a>
	{% if app.user %}
	{# {{ dump(app.user) }} #}
        <div class="mb-3">
            <span style="color:#00000;display: block;margin-bottom: -4px;">Vous êtes connecté(e), {{ app.user.firstname }} {{ app.user.lastname }}</span>
			<a href="{{ path('app_logout') }}">Me déconnecter</a>
			{% if app.user.roles[0] == 'ROLE_ADMIN' %}
			<a href="{{ path('admin_index') }}">Admin</a>
			{% endif %}
        </div>
	{% else %}
	<a href="{{ path('app_login')}}" style="--i:5">Connexion</a>
	{% endif %}
    

  </nav>
</header>
 </body>
</html>

