{% extends "base.html.twig" %}

{% block title %}Détails de
	{{ product.name }}
{% endblock %}

{% block body %}
	<main class="container mt-5" id="details">
		<section class="row mt-5">
			<div class="col-12">
				<h1>{{ product.name }}</h1>
			</div>
			<div
				class="col-6">
			
				<img src="{{ asset('/assets/uploads/') ~ product.image }}" class="d-block w-100" alt="{{ product.name }}">

			</div>
			<div class="col-6">

				<p>{{ product.description }}</p>
				<p>Catégorie :
					{{ product.name }}</p>
				<p>Prix :
					{{ product.price / 100 }}
					€</p>
				{% if product.stock > 0 %}
					<a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success">Ajouter au panier</a>
				{% else %}
					<p class="text-danger">Temporairement en rupture de stock</p>
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
