{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

<section class="slide-eshop	">
<ul class="slideshow-eshop">
	<li><span></span></li>
  <li><span>2</span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
</ul>
</section>
{% for category in categories %}
                {% if category.parent == null %}
<section class="eshop">
  <h2>{{ category.name }}</h2>
		<h2>Découvrez tous nos produits.</h2>
		   <h2>{{ category.name }}</h2>

		<article class="eshop-card">
			<div class="eshop1">
				<img class="img_1" src="images/prd4.jpg">
			
			<div class="text-eshop">
				<h2 class="title-eshop">Shampooing</h2>
				<p>
					Des cheveux sublimes, sans effort. Découvrez les collections de soins.
											Les soins capillaires d'exception d'un salon Parisien iconique. Découvrez la gamme.
				</p>
				<button>Voir les produits</button>
				</div>
				</div>
				{# <a href="{{ path('categories_list/{id}')}}" class="btn btn-sm btn-outline-secondary">Voir les produits</a> #}


				<article class="eshop-card-2">
					<div class="eshop1-2">
						<img class="img_2" src="images/prd4.jpg">
					
					<div class="text-eshop-2">
						<h2 class="title-eshop-2">Soins hydratants</h2>
						<p>
							Des cheveux sublimes, sans effort. Découvrez les collections de soins.
													Les soins capillaires d'exception d'un salon Parisien iconique. Découvrez la gamme.
						</p>
						{# <a href="{{ path('categories_list')}}" class="btn btn-sm btn-outline-secondary">Voir les produits</a> #}
					</div>
					</div>

					<article class="eshop-card-3">
						<div class="eshop1-3">
							<img class="img_3" src="images/prd4.jpg">
						
						<div class="text-eshop-3">
							<h2 class="title-eshop-3">Coiffants</h2>
							<p>
								Des cheveux sublimes, sans effort. Découvrez les collections de soins.
														Les soins capillaires d'exception d'un salon Parisien iconique. Découvrez la gamme.
							</p>
							                                <a href="{{ path('categories_list', {id: category.id}) }}" class="btn btn-primary">Voir les produits</a>
							{# <a href="{{ path('categories_list')}}" class="btn btn-sm btn-outline-secondary">Voir les produits</a> #}

						</div>
					</div>
					
		      {% endif %}
            {% endfor %}
				</article>
			</section>
{% endblock %}
